*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.about-us{
    width: 100%;
    padding: 50px;
    background-color: #7DAAD1;
}
.about-us img{
    height: auto;
    width: 420px;
}
.about-us .about-text{
    width: 550px;
}
.about-us .main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-us .about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-us .about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-us .main span{
    color: #f9004d;
}
.about-us .about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about-us .main button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.about-us .main button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
