@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*dm{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#dm a {
	text-decoration: none;
}

#dm li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark .dm{
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body .dm {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar-dm {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar-dm::--webkit-scrollbar {
	display: none;
}
#sidebar-dm.hide {
	width: 60px;
}
#sidebar-dm .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar-dm .brand i{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 15px;
}
#sidebar-dm .brand h2{
    color: var(--dark);
}
#sidebar-dm .brand h2 span{
    color: rgb(20, 166, 250);
}
#sidebar-dm .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar-dm .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar-dm .side-menu span{
	margin-left: 15px;
}
#sidebar-dm .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar-dm .side-menu li span{
    color: var(--dark);
}
#sidebar-dm .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar-dm .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar-dm .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar-dm .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar-dm .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar-dm.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar-dm.side-menu li a.logout {
	color: var(--red);
}
#sidebar-dm .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar-dm.side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content-dm {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar-dm.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content-dm nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content-dm nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content-dm nav a {
	color: var(--dark);
}
#content-dm nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content-dm nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content-dm nav .nav-link:hover {
	color: var(--blue);
}
#content-dm nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content-dm nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content-dm nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content-dm nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content-dm nav .notification {
	font-size: 20px;
	position: relative;
}
#content-dm nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content-dm nav .info-du p{
    color: var(--dark);
    display: flex;
    gap: 0.5rem;
    text-align: right;
    height: 10px;
}
#content-dm nav .info-du small{
    color: gray;
}
#content-dm nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content-dm nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content-dm nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content-dm nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content-dm main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content-dm main .head-title span{
    color: white;
}
#content-dm main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content-dm main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content-dm main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content-dm main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content-dm main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content-dm main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content-dm main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}





#content-dm main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content-dm main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content-dm main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content-dm main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content-dm main .table-data .head .bx {
	cursor: pointer;
}

#content-dm main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content-dm main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content-dm main .table-data .order table tr td span{
    color: var(--light);
    font-weight: 200;
    font-size: 12px;
}
#content-dm main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content-dm main .table-data .order table td {
	padding: 16px 0;
}
#content-dm main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content-dm main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content-dm main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content-dm main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content-dm main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content-dm main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content-dm main .table-data .order table tr td .status.pending {
	background: var(--orange);
}
#content-dm main .menu-btn{
    margin-top: 30px;
    padding: 6px 16px;
    border-radius: 15px;
    background: var(--blue);
    position: relative;
    left: 1rem;
    text-align: center;
}

#content-dm main .menu-btn-update{
    padding: 3px 15px;
    border-radius: 15px;
    background: var(--blue);
    position: relative;
    text-align: center;
}
#content-dm main .menu-btn-del{
    padding: 3px 15px;
    border-radius: 15px;
    background: var(--red);
    position: relative;
    text-align: center;
    left: 1rem;
}
#content-dm main button span{
    color: var(--light);
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
}



/* MAIN */
/* CONTENT */



@media screen and (max-width: 768px) {
	#sidebar-dm {
		width: 200px;
	}

	#content-dm {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content-dm nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content-dm nav form .form-input input {
		display: none;
	}

	#content-dm nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content-dm nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content-dm nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content-dm nav form.show ~ .notification,
	#content-dm nav form.show ~ .profile {
		display: none;
	}

	#content-dm main .box-info {
		grid-template-columns: 1fr;
	}

	#content-dm main .table-data .head {
		min-width: 420px;
	}
	#content-dm main .table-data .order table {
		min-width: 420px;
	}
	#content-dm main .table-data .todo .todo-list {
		min-width: 420px;
	}
	#content-dm main button{
		display: block;
	}
}