.aboutus-navbar{
    width: 100%;
    padding: 20px;
    background-color: #7DAAD1;
}
.aboutus-navbar .hero{
    height: 10vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.aboutus-navbar .hero nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.aboutus-navbar .hero nav img{
    width: 100px;
    height: 50px;
    margin-left: 200px;
}
.aboutus-navbar nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
    width: 500px;
}
.aboutus-navbar nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
.aboutus-navbar nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
.aboutus-navbar .hero nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
.aboutus-navbar .hero nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.aboutus-navbar .hero nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}
.aboutus-navbar .hero td button{
    border: none;
    background: #ea1538;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 1rem;
}
.aboutus-navbar .hero button:hover{
    transform: scale(1.3);
    cursor: pointer;
}