.pgjurnal{
    padding: 10px;
    background-color: white;
}
.pgjurnal .jurnal{
    height: 7vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.pgjurnal .jurnal nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.pgjurnal .jurnal nav img{
    width: 95px;
    height: 40px;
    margin-left: 200px;
}
.pgjurnal .jurnal nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
.pgjurnal .jurnal nav ul li a{
    color: black;
    text-decoration: none;
}
.pgjurnal .jurnal nav ul li a:hover{
    color: var(--blue);
    transition: .3s;
}
.pgjurnal .jurnal td button{
    border: none;
    background: var(--blue);
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    transition: .4s;
    margin-left: 1rem;
}
.pgjurnal .jurnal button:hover{
    transform: scale(1.3);
    cursor: pointer;
}















@media screen and (max-width: 768px) {
	#content-journal {
		width: calc(100% - 60px);
		left: 200px;
	}
}






@media screen and (max-width: 576px) {
	#content-journal nav form .form-input input {
		display: none;
	}

	#content-journal nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content-journal nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content-journal nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content-journal nav form.show ~ .notification,
	#content-journal nav form.show ~ .profile {
		display: none;
	}

	#content-journal main .box-info {
		grid-template-columns: 1fr;
	}
	#content-journal main .page-set .content-form{
		min-width: 420px;
	}
	#content-journal main .page-set .content-form form{
		min-width: 420px;
	}
	#content-journal main .page-set .content-form .two-factor{
		min-width: 420px;
	}
	
}