@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body .setting{
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar-set2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar-set2::--webkit-scrollbar {
	display: none;
}
#sidebar-set2.hide {
	width: 60px;
}
#sidebar-set2 .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar-set2 .brand h2{
    color: var(--dark);
}
#sidebar-set2 .brand h2 span{
    color: rgb(20, 166, 250);
}
#sidebar-set2 .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar-set2 .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar-set2 .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar-set2 .side-menu li span{
    color: var(--dark);
}
#sidebar-set2 .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar-set2 .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar-set2 .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar-set2 .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar-set2 .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar-set2.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar-set2 .side-menu li a.logout {
	color: var(--red);
}
#sidebar-set2 .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar-set2 .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content-set2 {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar-set2.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content-set2 nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content-set2 nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content-set2 nav a {
	color: var(--dark);
}
#content-set2 nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content-set2 nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content-set2 nav .nav-link:hover {
	color: var(--blue);
}
#content-set2 nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content-set2 nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content-set2 nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content-set2 nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content-set2 nav .notification {
	font-size: 20px;
	position: relative;
}
#content-set2 nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content-set2 nav .info-du p{
    color: var(--dark);
    display: flex;
    gap: 0.5rem;
    text-align: right;
    height: 10px;
}
#content-set2 nav .info-du small{
    color: gray;
}
#content-set2 nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content-set2 nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content-set2 nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content-set2 nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content-set2 main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content-set2 main .head-title span{
    color: white;
}
#content-set2 main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content-set2 main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content-set2 main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content-set2 main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content-set2 main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content-set2 main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content-set2 main .head-title .btn-download {
	height: 40px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}
#content-set2 main .head-title .btn-download:hover{
    background: #15b12a;
}



#content-set2 main .page-set{
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
	justify-content: center;
}
#content-set2 main .page-set > div{
	border-radius: 20px;
	background: white;
	padding: 24px;
	overflow-x: auto;
}
#content-set2 main .page-set .avatar{
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
	justify-content: right;
	margin-right: 100px;
}
#content-set2 main .page-set .avatar img{
	margin-right: 610px;
}
#content-set2 main .page-set .contact-from{
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
	justify-content: right;
	margin-right: 90px;
}
#content-set2 main .page-set .content-form{
	flex-grow: 1;
	flex-basis: 500px;
}


#content-set2 main .page-set .content-form .wrapper{
	width: 100%;
	border-collapse: collapse;
}
#content-set2 main .page-set .content-form .wrapper .avatar td {
	padding: 10px 0;
	padding-left: 2.6%;
}
#content-set2 main .page-set .content-form .wrapper td {
	padding: 0px 10px;
}
#content-set2 main .page-set .content-form .wrapper td img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
	margin-left: 60px;
}
#content-set2 main .page-set .content-form .btn-download {
	height: 40px;
	padding: 0 16px;
	border-radius: 10px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 300;
	font-size: 14px;
}
#content-set2 main .page-set .content-form .form{
	margin-right: 125px;
}

#content-set2 main .page-set .content-form .wrapper .wrap{
	width: 450px;
	background: white;
	padding: 30px;
}
#content-set2 main .page-set .content-form .wrapper .wrap .input-data{
	height: 40px;
	width: 100%;
	position: relative;
}
#content-set2 main .page-set .content-form .wrapper .wrap .input-data input{
	height: 100%;
	width: 110%;
	border: none;
	font-size: 17px;
	border-bottom: 2px solid silver;
	outline: none;
}
#content-set2 main .page-set .content-form .wrapper .wrap .input-data label{
	position: absolute;
	bottom: 10px;
	left: 0;
	color: gray;
	pointer-events: none;
	transition: all 0.3s ease;
}
#content-set2 main .page-set .content-form .wrapper .wrap .input-data input:focus ~ label,
#content-set2 main .page-set .content-form .wrapper .wrap .input-data input:valid ~ label{
	transform: translateY(-20px);
	font-size: 15px;
	color: #4158d0;
}
#content-set2 main .page-set .content-form .wrapper .wrap .input-data .underline{
	position: absolute;
	bottom: 0px;
	height: 2px;
	width: 100%;
}
.input-data2 .underline::before{
	position: absolute;
	background: #4158d0;
	content: "";
	height: 100%;
	width: 100%;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}
#content-set2 main .page-set .content-form .wrapper .wrap .input-data input:focus ~ .underline::before,
#content-set2 main .page-set .content-form .wrapper .wrap .input-data input:valid ~ .underline::before{
	transform: scaleX(1);
}



#content-set2 main .page-set .content-form .btn-download:hover{
    background: #15b12a;
}

#content-set2 main .page-set .content-form h4 {
	font-size: 20px;
	font-weight: 550;
	margin-bottom: 10px;
	color: var(--dark);
	margin-left: 100px;
}
#content-set2 main .page-set .content-form p {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
	color: var(--dark);
	margin-left: 100px;
	color: rgb(173, 173, 173);
	align-items: center;
	
}
#content-set2 main .page-set .content-form .p-two {
	text-align: justify;
	padding-left: 30.5%;
	padding-right: 16.5%;
}
#content-set2 main .page-set .content-form .p-browser {
	text-align: justify;
	padding-left: 33%;
	padding-right: 10%;
}

#content-set2 main .page-set .content-form .two-factor{
	justify-content: right;
	margin-right: 100px;
	padding-top: 50px;
}
#content-set2 main .page-set .content-form .two-factor .switch-mode2 {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content-set2 main .page-set .content-form .two-factor .switch-mode2::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content-set2 main .page-set .content-form .two-factor #switch-mode2:checked + .switch-mode2::before {
	left: calc(100% - (25px - 4px) - 2px);
}


#content-set2 main .page-set .content-form .brow-ses{
	justify-content: right;
	margin-right: 100px;
	padding-top: 30px;
}
#content-set2 main .page-set .content-form .brow-ses .btn-download {
	height: 40px;
	padding: 0 40px;
	border-radius: 10px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 300;
	font-size: 14px;
}
#content-set2 main .page-set .content-form .brow-ses .btn-download:hover{
    background: #15b12a;
}










/* MAIN */
/* CONTENT */



@media screen and (max-width: 768px) {
	#sidebar-set2 {
		width: 200px;
	}

	#content-set2 {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content-set2 nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content-set2 nav form .form-input input {
		display: none;
	}

	#content-set2 nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content-set2 nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content-set2 nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content-set2 nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content-set2 main .box-info {
		grid-template-columns: 1fr;
	}
	#content-set2 main .page-set .content-form{
		min-width: 420px;
	}
	#content-set2 main .page-set .content-form form{
		min-width: 420px;
	}
	#content-set2 main .page-set .content-form .two-factor{
		min-width: 420px;
	}
	
}